
<table>
   <tr>
      <th>Band Name</th>
      <th>Date</th>
      <th>Album Name</th>
   </tr>
   {{#each Bands}}
      <tr>
         <td>{{Name}}</td>
         <td>{{Date}}</td>
         <td>{{Albums.0.Name}}</td>
      </tr>
   {{/each}}
</table>